.back-n{
    background-color: antiquewhite;
}

.order{
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-size: xx-large;
}
.foot{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
}
