.back-col{
    background-color: beige;
    margin: auto;
    text-align: center;
}
.num-quan{
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    text-align: center;
}
.order{
    margin-top: 50px;
    text-align: center;
}
